Package: com.michaelmelita.11cammin
Name: 11CamMin
Depends: mobilesubstrate
Version: 0.0.3
Architecture: iphoneos-arm
Description: iPhone 11 Camera Zoom Dial for iOS 13
Maintainer: Michael Melita
Author: Michael Melita
Section: Tweaks
